<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "auction/style.css" %}" />
	<title>Bidding Page</title>
</head>
<body>
	<div id="main">
		<div id = "header">
			<div id="widgetBar">
				<div class="logoutWidget">
					[ logout ]
				</div>
			</div>

			<a href="#">
				<img src="#" id="logo" alt="Yo Wing IPL Auction">
			</a>

			<img src="#" id="logoText" alt="YO Wing IPL Auction">
		</div>
		<div id="playerTeamInfo">
			team
		</div>
		<div id="playerInfo">
			player
		</div>
		<div id="playerStats">
			stats
		</div>
		<div id="status">
			your bet
		</div>
		<div id="bid">
			bet now
		</div>
	</div>
	<!-- <a href = "/auction/logout/">logout</a> -->
</body>
<html>